.pending_users {
  .MuiPaper-root {
    overflow-y: hidden;
  }
  button {
    margin-top: 30px;
  }
  button.pending_users__stop-saving-button {
    margin-left: 25px;
  }
}

.pending-users-modal {
  max-width: 85vw;
  width: 100%;
  h2 {
    font-size: 22px;
    padding: 0 0 20px;
    color: #777777;
    text-align: center;
  }
  &__table-container {
    padding: 25px 0 45px;
    td {
      border: none;
    }
    td {
      svg {
        margin-right: 10px;
        vertical-align: middle;
      }
    }
    td:nth-of-type(1) {
      font-weight: 700;
      color: #525252;
    }
  }
  .MuiFormControl-root {
    width: 160px;
  }
  select {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    top: -12px;
  }
  td.pending-users-modal__icon-block {
    display: flex;
  }
}
