.custom-checkbox {
  &.MuiCheckbox-root {
    padding: 0;
  }
  color: #919191;
  svg {
    fill: #919191;
  }

  &.Mui-checked {
    color: #919191;
    svg {
      fill: #a4a4a4;
    }
  }

  &__check-icon {
    position: absolute;
  }
}
